# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.venv/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Project-specific
images/

# Logs
*.log

# Temporary files
*.tmp

# Distribution / packaging
dist/
build/
*.egg-info/

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

curve_tokenlist.json
failed_tokens_report.json